.logo-slider {
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
  background-color: transparent; /* Fond transparent */
}

.logo-track {
  display: flex;
  width: calc(250px * 18); /* Ajusté pour le bon fonctionnement */
  animation: scroll 20s linear infinite;
}

.logo-item {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.logo-item img {
  max-width: 250px;
  max-height: 190px;
  object-fit: contain;
  opacity: 0.85;
  transition: transform 0.3s;
  filter: brightness(0) saturate(100%) invert(25%) sepia(97%) saturate(607%) hue-rotate(90deg) contrast(85%); /* Filtre pour teinte verte */}

.logo-item img:hover {
  transform: scale(1.1);
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}
